{% extends "::layout/layout.html.twig" %}
{% block stylesheets %}
    <link type="text/css" rel="stylesheet" href="{{ asset('css/A_propos.css') }}"/>
{% endblock %}
{% block body %}
    <!-- CONTENU -->
{#<main id="Site_content">#}
        <article id="Container">
            <h1 id="Main_Titre">Qui sommes nous ?</h1>
            <hr id="Trait"/>
            <p class="Texte">Faerith’s est un collectif de créateurs de contenus sur internet (vidéos, lives, dossiers, articles …), principalement axé sur le jeux vidéo ainsi que la culture geek. Faerith’s se démarque de par son fort aspect communautaire avec à sa disposition : un logiciel de voIP (Discord), des serveurs de jeux (Minecraft, Counter-Strike, Battlefield, …) ainsi que des features exclusifs sur le site web pour la communauté (recherche de joueurs, création d’équipe, inscription à des events, …).</p>
            <div class="Pseudo">
                <h2><span class="Bold">Esuria</span> - Fondateur</h2>
                <div class="Photo_Profil">
                    <img src="http://image.noelshack.com/fichiers/2017/01/1483567847-capture.png" class="Image" alt="image">
                    <p>J’ai commencé à regarder des vidéos sur internet en regardant Joueur Du Grenier, Bibi300 et Naito75, s’en est suivi la grande vague Minecraft avec Fanta/Bob, Elarcis, Crawling flesh, …
                        Par la suite Twitch est arrivé, j’ai suivi un des premiers gros (pour l’époque) streamers FR : Darlid, ainsi que d’autres streamers comme Meie Live. Ce que j’ai aimé dans ces lives, c’est la proximité avec la communauté, le fait qu’on finisse par se connaître, qu’on puisse échanger sur Mumble/Teamspeak, se lier d’amitié avec certaines personnes de la communauté, etc… A côté de cela, je trouvais excellent le Nesblog et son principe de collectif de vidéastes proposant des émissions de qualité avec les 3615 Usul, les Speed Games, Crossed, …
                        Tout cela m’a donné envie de créer à mon tour un collectif : « Faerith’s », composé de créateurs originaux pouvant apporter quelque chose de nouveau sur la table, devenir à notre tour un label de qualité. En plus de cela, le souhait d’avoir une communauté vivante, pouvant jouer sur différents serveurs de jeux mis à disposition, échanger sur le serveur vocal (Discord) et avoir un site web pour réunir cette grande famille dans un lieu de culture, de divertissement, d’échange, …</p>
                </div>
            </div>
            <div class="Pseudo">
                <h2>Nargash</h2>
                <div class="Photo_Profil">
                    <img src="" class="Image" alt="image">
                    <p>Texte</p>
                </div>
            </div>
            <div class="Pseudo">
                <h2>iWanTeeeeeeD</h2>
                <div class="Photo_Profil">
                    <img src="" class="Image" alt="image">
                    <p>Texte</p>
                </div>
            </div>
        </article>
{#</main>#}
{% endblock %}

