{% extends "::layout/layout.html.twig" %}
{% block stylesheets %}
    <link type="text/css" rel="stylesheet" href="{{ asset('css/Event.css') }}"/>
{% endblock %}
{% block body %}

<section>
    <div id="Serveur_head">
        <p>Cyprum itidem insulam procul a continenti discretam et portuosam inter municipia crebra urbes duae faciunt claram Salamis et Paphus, altera Iovis delubris altera Veneris templo insignis. tanta autem tamque multiplici fertilitate abundat rerum omnium eadem Cyprus ut nullius externi indigens adminiculi indigenis viribus a fundamento ipso carinae ad supremos usque carbasos aedificet onerariam navem omnibusque armamentis instructam mari committat.</p>
    </div>

    <div id="Serveur_content">
        <div id="Serveur_content_head">
            <h1 class="Titre"><a href="Serveur.html">Jeux</a></h1>
            <h1 class="Titre">Events</h1>
        </div>

        <div id="Serveur_content_data">
            <div id="Prochainement_data">
                <h2>Prochainement |</h2>
                <a href="#"><img src="http://placehold.it/360x180" alt="#"></a>
                <a href="#"><img src="http://placehold.it/360x180" alt="#"></a>
                <a href="#"><img src="http://placehold.it/360x180" alt="#"></a>
                <a href="#"><img src="http://placehold.it/360x180" alt="#"></a>
                <a href="#"><img src="http://placehold.it/360x180" alt="#"></a>
                <a href="#"><img src="http://placehold.it/360x180" alt="#"></a>
            </div>
            <div id="Moment_data">
                <h2>En ce moment |</h2>
                <a href="#"><img src="http://placehold.it/360x180" alt="#"></a>
                <a href="#"><img src="http://placehold.it/360x180" alt="#"></a>
                <a href="#"><img src="http://placehold.it/360x180" alt="#"></a>
            </div>
            <div id="Resultat_data">
                <h2>Résultat des derniers events |</h2>
                <a href="#"><img src="http://placehold.it/360x180" alt="#"></a>
                <a href="#"><img src="http://placehold.it/360x180" alt="#"></a>
            </div>
        </div>
        <a href="#" class="Acces">Accéder à l'historique des anciens événements...</a>
    </div>
</section>
{% endblock %}