#Fleche {
  margin-top: 1%;
  margin-left: 1%;
}

.Principal {
  display: flex;
  flex-direction: column;
}

.Boutons_haut {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.Title {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  margin-left: 1em;
  margin-right: 1em;
  background-color: grey;
}

.Texte {
  text-decoration: none;
}

.Video_planning {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px solid black;
}

.Video_planning_data {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.Image_article {

}

.Titre_brouillon_data {
  margin-right: 0.5em;
}

.Page_suivante {
  display: flex;
  justify-content: center;
}

.Trait {
  width: 100%;
  border: 1px solid black;
}

.Videos_data, .Playlists_data, .Brouillons_data, .Emissions_data {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Date_historique_data {
  margin-right: 0.5em;
}

.Titre_historique_data {
  margin-right: 0.5em;
}

.Titre_dossier_data {
  margin-right: 0.5em;
}

@media screen and (max-width: 1024px) {
  .Boutons_haut {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  .Title {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin-left: 0em;
    margin-right: 0em;
    margin-top: 0;
    margin-bottom: 0;
    background-color: grey;
    width: 100%;
    height: 3em;
  }

.Texte {
  width: 100%;
}

}
