#Live_link {
width: 100%;
height: 3em;
background-color: #212121;
}

#Live_link ul {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#Live_link ul li {
  margin: 0;
  padding: 0;
  width: 25%;
  height: 100%;
  text-align: center;
  border-right: 1px #313131 solid;
}

#Live_link ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 2em;
  text-decoration: none;
  text-transform: uppercase;
  font-family: '33535gillsansmt' !important;
}

#Live_En_Live a {
  border-bottom: solid 2px #00BA35;
  color: #00BA35;
}

#Live_Hors_Live a {
  color: #BA0808;
}

#Live_VOD a {
    color: #135A87;
}

.Live_Blanc a {
  color: white;
}

#Live_content {
  display: flex;
  flex-direction: row;
  border: 0px;
  flex-wrap: wrap;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.Live_data {
  height: 12em;
  width: 12em;
  margin-right: 2em;
  margin-left: 2em;
  margin-top: 4em;
  border: solid 2px #00BA35;
}

.Live_data img {
  width: 100%;
  height: 100%;
}

.Live_data h1 {
  position: relative;
  bottom: 2.75em;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgba(29, 29, 29, 0.7);
  color: white;
  font-family: Gameplay;
  height: 1.6em;
  font-size: 1em;
  text-transform: uppercase;
  border-top: solid 2px #00BA35;
  padding-left: 0.3em;
}
