.form
{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:#FAFAFA;
  padding-left:5%;
  padding-right:5%;
  width:80%;
  margin-left: auto;
  margin-right: auto;
}

.form form
{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:#FAFAFA;
  padding-left:5%;
  padding-right:5%;
  width:80%;
  margin-left: auto;
  margin-right: auto;
}
.info_compte
{
    padding-top: 2%;
    height: 10%;
    font-size: 150%;
}

.bloc
{
    width: 50%;
    padding-top: 2%;
    margin-bottom: 5%;
    margin-top: 5%;
}

.Icone_content {
  width: 30%;
  height: auto;
}


.inline
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}
.envoi
{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

form
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
   margin-bottom: 5%;
 }

fieldset
{
  display: flex;
  flex-direction: column;
  padding:0 20px 20px 20px;
  margin-bottom:10px;
  border:1px solid black;
 }

legend
{
 color:#DF3F3F;
 font-weight:bold
 }

input[type=radio]
 {
 background-color:transparent;
 border:none;
 width:10px;
 }
input[type=submit], input[type=reset]
{
 width:100px;
 margin-left:5px;
 box-shadow:1px 1px 1px black;
 cursor:pointer;
 }

 /* Pour les écrans inférieurs à 1024px de large */
 @media screen and (max-width: 1024px)
 {
   .form
   {
     display: flex;
     flex-direction: column;
     align-items: center;
     background-color:#FAFAFA;
     padding-left:5%;
     padding-right:5%;
     width:100%;
     margin-left: auto;
     margin-right: auto;
   }
 }
