
    <div id="Equipe_detail">
        <div id="Detail_Container">
            <div id="First_Line">
                <h1 id="Pseudo">{{ user.username }}</h1>
                {#<h2 id="Rang"></h2>#}
            </div>
            <hr id="Trait">
            <p id="Description"><img src="{{ asset( user.media.path ) }}" alt="#" class="Mini_pic">{{ user.description }}</p>
            <hr id="Trait_social">
            <div id="Equipe_social">
                <a href="#" target="_blank" class="Footer_Icone"><span class="icon-facebook-square"></span></a>
                <a href="#" target="_blank" class="Footer_Icone"><span class="icon-twitter-square"></span></a>
                <a href="#" target="_blank" class="Footer_Icone"><span class="icon-tumblr-square"></span></a>
                <a href="#" target="_blank" class="Footer_Icone"><span class="icon-instagram2"></span></a>
                <a href="#" target="_blank" class="Footer_Icone"><span class="icon-youtube"></span></a>
                <a href="#" target="_blank" class="Footer_Icone"><span class="icon-twitch"></span></a>
                <a href="#" target="_blank" class="Footer_Icone"><span class="icon-soundcloud"></span></a>
            </div>
        </div>
    </div>