{% extends "::layout/layout.html.twig" %}
{% block stylesheets %}
    <link type="text/css" rel="stylesheet" href="{{ asset('css/Creation_equipe.css') }}"/>
{% endblock %}
{% block body %}
    <!-- CONTENU -->
    <section id="Total">
      {{ form_start(form) }}
      {{ form_end(form) }}
    </section>

{% endblock %}

